.modals-container { 
height: auto !important;
width: 100% !important;
margin-top: "20vh" !important;
margin-bottom: "110vh" !important;
padding: 30px 10px; 
justify-content: center;
}

.main-card { 
  padding: 10px !important;
  text-align: center; 
  height: auto; 
  width: 100%; 
  justify-content: center;
  align-items: center;
  border-radius: 20px; 
}

.staffing-solutions-columns {  
  margin: 0 auto !important; 
  gap: .5rem !important; 
  display: grid !important; 
  grid-template-columns: 2fr 30rem 30%; 
  justify-content: center; 
  align-items: center; 
}

@media (min-width: 1680px) {
  .bullet-points-right { 
    position: relative; 
    left: 30px; 
  }
}

@media (max-width: 1590px) { 
  .staffing-solutions-columns { 
    display: flex !important;
    flex-direction: column !important; 
    gap: 4px; 
  }

  .main-card { 
    width: 100%; 
    height: auto !important; 
    padding: 10px !important; 
    text-align: center; 
    justify-content: center;
    align-items: center;
  }

  .bullet-points-left { order: 1; }
  .bullet-points-right { order: 2; }
  .image-container { order: 3; }
}

@media (min-width: 1200px) {
  .staffing-solutions-columns {
    flex-direction: row !important;
  }
}

@media (max-width: 615px) { 

  .main-card { 
    height: auto !important; 
    width: 85vw !important; 
  align-items: center !important;}

  .modals-container { 
    justify-content: center !important;
  }

  .staffing-solutions-columns {
    justify-content: center !important; 
    align-items: center !important;
  }

  .image-container {
    margin: 0 auto !important; 
    justify-content: center !important; 
    align-items: center !important; 
    position: relative; 
    right: 15px;
  }

  .bullet-points-left, 
  .bullet-points-right { 
    width: 100% !important; 
    height: auto !important; 
    margin: 0 30px !important; 
  }

  .bullet-points-right { 
    right: 10px !important;
  }
}