/* Home page Media Queries */

@media (min-width: 365px) and (max-width: 534px) { 
    .homepage-background-photo { 
        margin-top: 2rem !important; 
        height: 55vh !important; 
    }

    .about-company-card-container { 
        padding: 1.5em !important;
        margin-top: 6.2em !important;
        margin-bottom: 7em !important;
    }

    .about-company-card { 
        font-size: .8em !important;
    }

    .clickable-cards .MuiCard-root { 
        width: 90vw !important;
        height: auto !important;
        margin-bottom: 20px; 
        gap: .5rem !important;
    }

    .contact-section-text { 
        margin-top: 20px !important;
        font-size: .8rem !important;
    }

    .contact-section img { 
        width: 100% !important;
        height: 200 !important;
    }
}

@media (min-width: 535px) and (max-width: 600px) { 
    .homepage-background-photo { 
        height: 55vh !important;
        width: 100% !important;
        background-position: top;
        margin-bottom: 20px !important;
    }

    .about-company-card-container { 
        padding: 20px !important;
        margin-top: 3.5em !important;
        margin-bottom: 120px !important;
    }

    .clickable-cards .MuiCard-root { 
        width: 90vw !important;
        height: auto !important;
        margin-bottom: 20px; 
        gap: .5rem !important;
    }

    .contact-section-text { 
        margin-top: 20px !important;
        font-size: 1rem !important;
    }

    .contact-section img { 
        width: 100% !important;
        height: 200 !important;
    }
}

@media (min-width: 601px) and (max-width: 980px) { 
    .homepage-background-photo {
        height: 60vh !important;
    }

    .about-company-card-container { 
        margin: 10px auto !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-top: 2em !important;
        margin-bottom: 2em !important; 
        padding: 25px !important; 
    }

    .about-company-card { 
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important; 
    }

    .clickable-cards .MuiCard-root { 
        width: 60vw !important;
        height: auto !important;
    }
}



@media (min-width: 981px) and (max-width: 1919px) { 
    .homepage-background-photo { 
        height: 120vh !important;
        background-position: top;
    }

    .about-company-card-container { 
        padding: 25px !important; 
    }

    .clickable-cards .MuiCard-root { 
        width: 20rem !important;
        height: 14rem !important;
        margin: 0 auto !important;
    }
}

@media (min-width: 960px) and (max-width: 1380px) { 
    .clickable-cards .MuiCard-root { 
        height: 14rem !important;
        width: 20rem !important;
        margin: 0 auto !important;
    }

    .homepage-background-photo {
        height: 150vh !important;
    }

    .clickable-cards-container { 
        margin-left: 200px !important;
        margin-right: 200px !important; 
    }
}

